<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <link name="base_link">
    </link>

    <link name="lidar_frame">
    </link>

    <link name="imu_frame">
    </link>

    <link name="camera_frame">
    </link>

    <joint name="base_to_lidar_joint" type="fixed">
        <parent link="base_link"/>
        <child link="lidar_frame"/>
        <origin xyz="1.105 0.0 2.792" rpy="0.0 0.3665 0.0"/>
    </joint>

    <joint name="base_to_imu_joint" type="fixed">
        <parent link="base_link"/>
        <child link="imu_frame"/>
        <origin xyz="-0.79 0.0 1.88" rpy="-3.14 0.0 0.0"/>
    </joint>

    <joint name="base_to_camera_joint" type="fixed">
        <parent link="base_link"/>
        <child link="camera_frame"/>
        <origin xyz="0.976 0.0 2.854" rpy="-2.0944 0.0 -1.57"/>
    </joint>
    
</robot>